<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.employeemanagement">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".VeiweLeaveDetails"></activity>
        <activity android:name=".Request_List" />
        <activity android:name=".Update_Leave" />
        <activity android:name=".Manage_Leave" />
        <activity android:name=".Request_Leave" />
        <activity android:name=".Admin_Dash" />
        <activity android:name=".User_Dash" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>